@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Mulish:wght@200&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.search{
    position: relative;
    height: 50px;
}
.search .input{
    background-color: aliceblue;
    width: 50px;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    transition: width 0.3s ease;
    border: 0;
}
.btn{
    background-color: aliceblue;
    cursor: pointer;
    border: 0;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus, input:focus{
    outline: none;
}
.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(200px);
}